@model ADogsLifeWebApplication.ViewModels.Account.RegisterDogViewModel
@using ADogsLifeWebApplication.Models.Users
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewBag.Title = "Dog Registration";
}

<div class="container-fluid card">

    <h1 class="card-header" id="indexUserHeader">
        Who is your furend?!
    </h1>
    <br/>
    <div class="card register-dog-background">
        <form method="post" enctype="multipart/form-data" style="font-family: Ubuntu, monospace;">
            <div class="form-group row m-2">
                <div class="col">
                    <h1 class="prop-headers">
                        <label asp-for="FirstName"></label>
                    </h1>
                    <hr/>
                    <input asp-for="FirstName" placeholder="Enter your the first name of your doggo" class="form-control" title="Ex: Nessie" data-val="true"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row m-2">
                <div class="col">
                    <h1 class="prop-headers">
                        <label asp-for="MiddleName"></label>
                    </h1>
                    <hr/>
                    <input asp-for="MiddleName" placeholder="Enter your the middle name(if applicable) of your doggo" class="form-control" title="Ex: Lou"/>
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row m-2">
                <div class="col">
                    <h1 class="prop-headers">
                        <label asp-for="Breed"></label>
                    </h1>
                    <hr/>
                    <input asp-for="Breed" data-val="true" placeholder="What's the breed?" class="form-control" title="Ex: German Shepherd"/>
                    <span asp-validation-for="Breed" class="text-danger"></span>
                </div>
            </div>
            <h2>Choose an image for your best friend!</h2>
            <div class="form-group row m-2">
                <div class="col">
                    <h1 class="prop-headers">
                        <label asp-for="Photo"></label>
                    </h1>
                    <hr/>
                    <input type="file" asp-for="Photo" class="form-control"/>
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-dark" asp-route-id="@ViewBag.Id">Add Doggo!</button>
            <a type="submit" class="btn btn-danger">Cancel</a>

            @section Scripts
            {
                <script>
                $(document).ready(function() {
                    $('.custom-file-input').on("change", function() {
                        var filename = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(filename);
                    })
                });
            </script>
            }

        </form>
    </div>
</div>